Repository i9wa4/zenn: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, rumdl-check, rumdl-fix

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system

ghalint:
  name: ghalint
  entry: mise exec -- ghalint run
  language: system

ghatm:
  name: ghatm
  entry: mise exec -- ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: mise exec -- pinact run
  language: system

zizmor:
  name: zizmor
  entry: mise exec -- zizmor
  language: system

rumdl-check:
  name: rumdl-check
  entry: mise exec -- rumdl check
  language: system

rumdl-fix:
  name: rumdl-fix
  entry: mise exec -- rumdl check --fix
  language: system

WIP
  articles/2024-12-02-vim-neovim-environment-for-dbt.md
  articles/2025-08-06-databricks-connect-practice.md
  articles/2025-08-06-devcontainer-claude-code.md
  articles/2025-08-06-python-env-optimization.md
  articles/2025-12-01-shell-script-claude-code.md
  articles/2025-12-04-magi-system-ai-review.md
  articles/2025-12-07-manage-git-worktree-with-ghq.md
  articles/2025-12-13-jupyter-databricks-kernel-oss-dev.md
  articles/2025-12-15-drawio-skills-claude-code.md
  articles/2025-12-19-databricks-notebook-ai-ready.md
  articles/pivot-incremental-friendly-dbt-model.md
Due: rumdl-check, rumdl-fix

WIP
  articles/2025-12-24-mcp-databricks-server-v2.md
Due: rumdl-check, rumdl-fix

WIP
  articles/2025-12-13-jupyter-databricks-kernel-oss-dev.md
Due: rumdl-check, rumdl-fix

WIP
  mise.toml
Due: none

WIP
  .github/workflows/pre-commit.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  .rumdl.toml
  articles/2025-12-19-databricks-notebook-ai-ready.md
Due: rumdl-check, rumdl-fix

WIP
  mise.toml
  package-lock.json
  package.json
  renovate.json
Due: none

WIP
  README.md
  mise.toml
Due: rumdl-check, rumdl-fix

WIP
  articles/2026-01-01-zsh-startup-optimization-compinit.md
  articles/2026-01-01-zsh-startup-optimization-zinit.md
Due: rumdl-check, rumdl-fix

WIP
  articles/2026-01-01-zsh-startup-optimization-compinit.md
Due: rumdl-check, rumdl-fix

fix: separate gitleaks hooks for pre-commit and CI
  .pre-commit-config.yaml
Due: none

fix: separate gitleaks hooks for pre-commit and CI (#49)
  .pre-commit-config.yaml
Due: none

WIP
  articles/2025-12-06-ai-guardrails-local-cloud.md
  articles/2025-12-19-databricks-notebook-ai-ready.md
Due: rumdl-check, rumdl-fix

WIP
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  articles/2025-12-06-ai-guardrails-local-cloud.md
  articles/2025-12-19-databricks-notebook-ai-ready.md
Due: actionlint, ghalint, ghatm, pinact, zizmor, rumdl-check, rumdl-fix

WIP
  .envrc
  .github/workflows/pre-commit-nix.yaml
  flake.lock
  flake.nix
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  README.md
  mise.toml
  renovate.json
Due: actionlint, ghalint, ghatm, pinact, zizmor, rumdl-check, rumdl-fix

fix: remove dotfiles input and use nixpkgs directly
  flake.lock
  flake.nix
Due: none

chore: add pyproject.toml for uv-managed pre-commit
  .gitignore
  pyproject.toml
  uv.lock
Due: none

WIP
  README.md
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

WIP
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

docs: databricks-goose-starter 記事を再構成・予算管理セクション追加
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

fix: Dev Container説明とOAuth U2M表記を修正
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

refactor: 対象ユーザーセクションを序盤（セクション3）に移動
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

fix: Dev Container説明をより中立的な文体に修正
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

fix: rate_limits上書き警告とJob認証の注記を追加
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

fix: 冒頭のメリット表現を改善
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

fix: 冒頭メリット3つ目を個人認証・権限範囲の表現に修正
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

refactor: なぜ簡単かセクションを序盤(セクション3)に移動
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

fix: AIエージェント→AIコーディングエージェントに用語統一
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

fix: Pythonコードブロックを折りたたみに変更し、ファイル名を追加
  articles/2026-01-27-databricks-goose-starter.md
Due: rumdl-check, rumdl-fix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
  rumdl-check: any of: \.md$
  rumdl-fix: any of: \.md$
